@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
nav{
    display: flex;
    width: 100vw;
    background-color: rgb(119, 0, 255);
    position: relative;
    text-align: center;
    justify-content: space-between;
    padding: 15px 30px;
}
nav .icon{
    font-size: 36px;
    font-weight: 800;
    color: antiquewhite;
    cursor: pointer;
}
nav ol{
    display: flex;
    margin: auto 0;
    list-style: none;
}
nav ol li{
    margin: 0 2px;
}
nav ol li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    background: white;
    color: rgb(119, 0, 255);
}

@media screen and (max-width:1250px){
    nav{
    display: block;
    padding: 0;
}
nav .icon{
    display: inline-block;
    padding: 15px 30px;
}
nav ol {
    display: flex;
    flex-direction: column;
}
}