<footer>
<div class="footer-content">

    <h3><span class="color" antiquewhite>Poke</span><b style="color:lightsalmon;">S</b><span class="color" antiquewhite>earch</span></h3>
    <p>PokeSearch is a web application development with angularjs which catches using Api allowing you to search your favorite Pokemon.</p>
    <p><3</p>
    <p> So have fun looking for your next Pokemon!!</p>
    <p><3</p>
 
    <ul class="socials">
       <li><a href="https://www.facebook.com/tahatal7a/"><i class="fa fa-facebook"></i></a></li>
       <li><a href="+15147141655"><i class="fa fa-phone" ></i></a></li>
       <li><a href="talhataha2003@gmail.com"><i class="fa fa-google-plus"></i></a></li>
       <li><a href="https://www.instagram.com/taha_tal7a/"><i class="fa fa-instagram"></i></a></li>
       <li><a href="https://www.linkedin.com/in/taha-talha-6a7544223/"><i class="fa fa-linkedin-square"></i></a></li>
     </ul>

 </div>
 </footer>
 
